#container {
    display: flex;
    background: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

#desktop {
    position: relative;
    width: 80%;
    height: 0;
    padding-top: 50%;
    background-image: url(../images/desktop.png);
    background-size: 100% 100%;
}

#desktop-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
}

#mobile {
    position: relative;
    width: 22%;
    height: 0;
    padding-top: 50%;
    margin-left: 1%;
    background-image: url(../images/phone.png);
    background-size: 100% 100%;
}

#mobile-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    margin: 45% 0 10% 0;
    overflow: scroll;
    cursor: default;
}

/* desktop notifications */
.desktop-notification {
    width: 350px;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    position: absolute;
    top: 100%; /* hide the template by moving it out of the box */
    left: 100%; /* hide the template by moving it out of the box */
    cursor: pointer;
}

.desktop-notification.grey {
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
    background: #3c3c3c;
}

.desktop-notification.grey {
    height: 80px;
    line-height: 80px;
    padding: 0px 20px;
    background: #3c3c3c;
}

.desktop-notification.red {
    background: rgb(207, 40, 40);
}

.desktop-notification.red .desktop-notification-icon {
    background-image: url(../images/error.png);
    background-size: 100% 100%;
}

.desktop-notification.green {
    background: rgb(22, 207, 93);
}

.desktop-notification.green .desktop-notification-icon {
    background-image: url(../images/success.png);
    background-size: 100% 100%;
}

.desktop-notification.yellow {
    background: rgb(249, 200, 61);;
}

.desktop-notification.yellow .desktop-notification-icon {
    background-image: url(../images/star.png);
    background-size: 100% 100%;
}

.desktop-notification.red .desktop-notification-icon {
    background-image: url(../images/error.png);
    background-size: 100% 100%;
}

.desktop-notification-icon {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px;
}

.desktop-notification-content {
    display: inline-block;
    width: 240px;
    color: white;
    vertical-align: top;
}

.desktop-notification-button {
    display: inline-block;
    width: 40px;
    color: white;
    vertical-align: top;
    text-align: center;
}

.desktop-notification-button:hover{
    color: lightgray;
}

.desktop-notification-long-button {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: rgb(167, 70, 167);
}

.desktop-notification-long-button:hover{
    color: rgb(150, 116, 150);
}

.desktop-notification-group {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 100%; /* hide the template by moving it out of the box */
    left: 100%; /* hide the template by moving it out of the box */
    cursor: pointer;
    background-size: 100% 100%;
}

.desktop-notification-group.mail {
    width: 80px;
    background-image: url(../images/notifications/mail_1.jpg);
}

/* mobile notifications */
.mobile-notification {
    width: 80%;
    margin: 5px;
    margin-left: 9%;
    padding: 5px;
    border-radius: 10px;
    height: 80px;
    background: white;
    position: absolute;
    left: 120%; /* hide the template by moving it out of the box */
}

.mobile-notification-1-icon {
    height: 20px;
    width: 20px;
    background-image: url(../images/phone-app.png);
    background-size: 100% 100%;
}

.mobile-notification-1-content {
    position: absolute;
    height: 50px;
    line-height: 50px;
    color: black;
}