@font-face {
  font-family: "Millimetre";
  src: url("fonts/Millimetre-Regular_web.woff") format("woff"),
       url("fonts/Millimetre-Regular_web.woff2") format("woff2");
}
html {
    height: 100%;
}
body { 
/*    background: linear-gradient(0.5turn, #3f87a6, #ebf8e1, #f69d3c);
*/    
    font-family: "Millimetre", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}

#container {
    position: relative;
}

#top-section {
    height: 100vh;
    position: relative;
}

#logo {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}

#scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    font-size: 20px;
}
#arrow {
    left: 50%;
    position: absolute;
    transform:translateX(-50%)  scaleX(2.5) ;
    bottom: 5%;
}
   
/*#name {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size:120px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 8px 8px #36B6BC, 20px 20px #000000;
}*/

.perspective-text {
    position: absolute;
    top: 100px;
    width: 410px;
    color: #b6dee4;
    font-family: Millimetre;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #F6BF3B;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #89CAAF;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #6CB8C7;
}

.perspective-line:nth-child(5) {
  left: 145px;
}

#homework-container {
    padding-top: 55px;
    background: #81c3cd;
}

#homeworks {
    position: relative;
    width: 700px;
    margin: auto;
    padding-bottom: 200px;
}

#dog {
    position: absolute;
    left: -40%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-weight: bold;
    top: -60px;
}

#exercises {
    margin-top: 100px;
    color: white;
    font-size: 20px;
}

#exercises a {
    color: #ffdf87;
}

#projects {
    position: absolute;
    top: -20px;
    right: 0;
    width: 300px;
    color: white;
    font-size: 20px;
}

#projects a {
  color: #ffdf87;
}

#project-02-title1 {
  display: inline;
}

#project-02-title2, #project-02-title3 {
  display: none;
  color: red !important;
}

#project-02-title2-img {
  width: 25px;
  margin-left: 5px;
  color: red;
}