* {
    margin: 0px;
    padding: 0px;
}

body{

}

a {
  text-decoration: none;
}

#back {
  font-family: "Millimetre", Arial, "Helvetica Neue", Helvetica, sans-serif;
  border: 1px solid gray;
  padding: 5px 30px;
  border-radius: 20px;
  font-size: 25px;
  width: 60px;
  margin: 15px;
  color: #485563;
}

.bounding-box{
  position: relative;
  width: 398px;
  height: 478px;
  background: blue;
  margin: 10px;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
}

.bounding-box:hover {
  background-position: 100% 0;
  moz-transition: all .4s;
  -o-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.segment {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: -2px;
}

.segment.blank {
    background: lightgrey;
}

.segment.half-left {
  width: 20px !important;
  border-right: 20px solid lightgrey;
}

.segment.half-right {
  width: 20px !important;
  border-left: 20px solid lightgrey;
}

.segment.top-triangle {
  width: 0;
  height: 20px;
  border-top: 20px solid transparent;
  border-left: 40px solid lightgrey;
}

.segment.bottom-triangle {
  width: 0;
  height: 20px;
  border-bottom: 20px solid lightgrey;
  border-right: 40px solid transparent;
}